<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            قدرت گرفته توسط <a href="http://hexo.io/" target="_blank">Hexo</a> | قالب وبلاگ <a target="_blank" href="http://github.com/ppoffice">PPOffice</a>
        </div>
    </div>
</footer>